<footer class="footer bg-dark small text-center text-white-50 fixed-bottom">
	<div class="container px-4 px-lg-5 mb-1">
		<a class="fa mx-2 mt-3" href="{{ absolute_url('https://github.com/') }}" target="_blank">
			<i class="fa-brands fa-github-square fa-2x"></i>
		</a>

		<a class="fa mx-2 mt-3" href="{{ absolute_url('https://www.linkedin.com/in/fleur-develey/') }}" target="_blank">
			<i class="fa-brands fa-linkedin fa-2x"></i>
		</a>
	</div>

	<div class="container px-4 px-lg-5">
		Copyright &copy; Fleur Develey 2022
	</div>
</footer>
