{% extends 'base.html.twig' %}

{% block body %}
    <section id="error">
        <div class="row m-2">
            <h1 class="h3 mb-3 font-weight-normal">{{ message }}</h1>

            <div class="d-flex justify-content-center">
                <a class="btn mt-3" href="{{ path('index') }}">retour à la page d'accueil</a>
            </div>
        </div>
    </section>
{% endblock %}
