body {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 20px !important;
}

#home {
  margin-top: 250px;
}

ul{
  list-style-type: none;
}

.h5-feature,
.ul-feature {
  text-align: left !important;
}

.h5-feature {
  color: #fff !important;
}

#projects {
  display: block;
  margin-top: 60px;
}

.img-projects {
  width: auto;
  height: 100%;
}

.btn {
  padding: 1.10rem;
  font-size: 16px;
}

.btn,
.btn-portfolio {
  padding: 1.10rem;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10rem;
}

.btn:hover,
.btn,
.badge {
  color: #fff;
  background-color: #cf5331;
}

.btn,
.badge {
  border-color: #f4623a;
  text-transform: uppercase;
}

.fa-globe,
.fa-github {
  color:#fff;
}
