<p>
    Bonjour,
    <br> <br>
    Tu as une nouvelle demande : 
    <br> <br>
    Prénom et Nom : {{ fullName }}
    <br>
    Email : {{ from }}
    <br>
    Téléphone : {{ phone }}
    <br>
    Message : {{ message }}
    <br> <br>
    Merci de prendre contact avec la personne !
</p>