<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Développeuse PHP / Symfony sur le secteur d'Antibes 
        et Sophia-Antipolis, je suis à la recherche d'opportunités.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %} Fleur Develey {% endblock %}
		</title>

		{% block stylesheets %}
    		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
			rel="stylesheet" 
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
			crossorigin="anonymous">
			<link rel="stylesheet" 
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
			<link rel="stylesheet" href="{{ asset('/css/style.css') }}">
			<link rel="icon" type="image/png" href="{{ asset('/favicon.ico') }}"/>
		{% endblock %}
	</head>

	<body>
        <header>
        	{% include "shared/_navbar.html.twig" %}

            {% block header %}{% endblock %}
        </header>

        <main class="container my-2">
        	{% block body %}{% endblock %}
        </main>

        <footer>
		    {% include "shared/_footer.html.twig" %}
	    </footer>

	    {% block javascripts %}
		    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" 
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" 
            crossorigin="anonymous"></script>
	    {% endblock %}
    </body>
</html>
